In [1]:
import pandas as pd
from gurobipy import GRB, Model, quicksum

import utils.util as utils

In [2]:
cities_df = pd.read_csv('data/cities.csv')
cities_df

    Area              City    x   y TB/s
0      1          Warszawa  100  65    -
1      1      Skierniewice   92  62  197
2      1              Lódz   85  58  317
3      1             Konin   68  64  236
4      1           Sieradz   72  55  178
5      1          Piotrków   89  51  139
6      1             Radom  102  50  288
7      2            Kielce   98  42    -
8      2       Czestochowa   79  40  278
9      2             Bytom   76  31  163
10     2           Gliwice   73  30  105
11     2         Sosnowiec   80  29  143
12     2            Kraków   89  25  331
13     2           Bielsko   79  20  276
14     2          Katowice   78  28  263
15     2  Jastrzębie-Zdrój   74  23  137
16     2  Wodzisław Śląski   71  23  119
17     3            Poznań   54  68  251
18     3      Zielona Góra   39  60  121
19     3            Leszno   51  58   84
20     3            Kalisz   65  58  207
21     3           Legnica   45  47  176
22     3           Wrocław   54  45  133
23     3      Jelenia Góra   40  42  167
24     3         Wałbrzych   46  39  129
25     3             Opole   67  37    -

In [3]:
area_df = pd.read_csv('data/area.csv')
area_df

   Area  Minimum cities in main line Starting city   Ending city
0     1                            4      Warszawa         Radom
1     2                            5        Kielce       Gliwice
2     3                            5         Opole  Jelenia Góra

### Parameters

In [4]:
A = cities_df['Area'].unique().tolist()
C = {a: cities_df[cities_df['Area'] == a]['City'].tolist() for a in A}

M = {a: area_df[area_df['Area'] == a]['Minimum cities in main line'].values[0] for a in A}
S = {a: area_df[area_df['Area'] == a]['Starting city'].values[0] for a in A}
E = {a: area_df[area_df['Area'] == a]['Ending city'].values[0] for a in A}

d = {(a, c1, c2): utils.euclidean((cities_df[cities_df['City'] == c1]['x'].values[0], cities_df[cities_df['City'] == c1]['y'].values[0]), (cities_df[cities_df['City'] == c2]['x'].values[0], cities_df[cities_df['City'] == c2]['y'].values[0])) for a in A for c1 in C[a] for c2 in C[a] if c1 != c2}

In [5]:
model = Model('Main line optimization')

Set parameter Username
Academic license - for non-commercial use only - expires 2025-08-29

### Variables

In [6]:
x = model.addVars([(a, c1, c2) for a in A for c1 in C[a] for c2 in C[a] if c1 != c2], vtype=GRB.BINARY, name='x')
y = model.addVars([(a, c) for a in A for c in C[a]], vtype=GRB.BINARY, name='y_{a}_{c}')

### Objective function

In [7]:
model.setObjective(quicksum(d[(a, c1, c2)]*x[a, c1, c2] for a in A for c1 in C[a] for c2 in C[a] if c1 != c2), GRB.MINIMIZE)

### Starting and ending city constraint

In [8]:
for a in A:
    model.addConstr(y[a, S[a]] == 1, name=f'Starting city {a}')
    model.addConstr(y[a, E[a]] == 1, name=f'Ending city {a}')

    model.addConstr(quicksum(x[a, S[a], c] for c in C[a] if c != S[a]) >= 1, name=f'Starting city {a} out')
    model.addConstr(quicksum(x[a, c, E[a]] for c in C[a] if c != E[a]) >= 1, name=f'Ending city {a} in')

    model.addConstr(quicksum(x[a, c, S[a]] for c in C[a] if c != S[a]) == 0, name=f'Starting city {a} in')
    model.addConstr(quicksum(x[a, E[a], c] for c in C[a] if c != E[a]) == 0, name=f'Ending city {a} out')

### Satisfaction constraint

In [9]:
model.addConstrs((quicksum((y[a, c] for c in C[a])) >= M[a] for a in A), name='Minimum cities in main line')

{1: <gurobi.Constr *Awaiting Model Update*>,
 2: <gurobi.Constr *Awaiting Model Update*>,
 3: <gurobi.Constr *Awaiting Model Update*>}

### Local growth constraint

In [10]:
model.addConstr((y[1, "Konin"] + y[3, "Kalisz"]) >= 1, name='Konin & Kalisz')

### Decentralization constraint

In [11]:
model.addConstr((y[2, "Bytom"] + y[2, "Sosnowiec"] + y[2, "Katowice"]) <= 1, name='Bytom, Sosnowiec & Katowice')
model.addConstr((y[2, "Wodzisław Śląski"] + y[2, "Jastrzębie-Zdrój"]) <= 1, name='Wodzisław Śląski & Jastrzębie-Zdrój')

### German connection constraint

In [12]:
model.addConstr((y[3, "Poznań"] + y[3, "Zielona Góra"] + y[3, "Leszno"]) >= 1, name='Poznań, Zielona & Góra-Leszno')

### Connection constraint

In [13]:
for a in A:
    for c1 in C[a]:
        model.addConstr(quicksum(x[a,c2,c1] for c2 in C[a] if c2 != c1) <= y[a,c1], name=f'Flow constraint for maximum incoming flow to {c1} in {a}')

### Flow balance constraint

In [14]:
for a in A:
    for c1 in C[a]:
        if c1 != S[a] and c1 != E[a]:
            model.addConstr(quicksum(x[a, c1, c2] for c2 in C[a] if c2 != c1) == y[a, c1], name=f'Flow constraint for {c1} in area {a}')

### Anti-symmtetry constaint

In [15]:
for a in A:
    for c1 in C[a]:
        for c2 in C[a]:
            if c1 != c2:
                model.addConstr(x[a, c1, c2] + x[a, c2, c1] <= 1, name=f'Anti-symmetry for {c1} and {c2} in area {a}')

## Optimize

In [16]:
model.optimize()

Gurobi Optimizer version 11.0.3 build v11.0.3rc0 (mac64[arm] - Darwin 23.1.0 23B92)

CPU model: Apple M1 Pro
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 275 rows, 230 columns and 950 nonzeros
Model fingerprint: 0xcf80e668
Variable types: 0 continuous, 230 integer (230 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [2e+00, 4e+01]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 5e+00]
Found heuristic solution: objective 213.2333267
Presolve removed 212 rows and 130 columns
Presolve time: 0.01s
Presolved: 63 rows, 100 columns, 310 nonzeros
Found heuristic solution: objective 203.3413037
Variable types: 0 continuous, 100 integer (100 binary)

Root relaxation: objective 1.281960e+02, 38 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0  128.19600    0    8  203.34130  128.19600  37.0%     -    0s
H    0     0                     135.7207227  128.19600  5.54%     -    0s
H    0     0                     133.4083544  128.19600  3.91%     -    0s
H    0     0                     130.9979615  128.19600  2.14%     -    0s

Cutting planes:
  Zero half: 1

Explored 1 nodes (38 simplex iterations) in 0.02 seconds (0.00 work units)
Thread count was 8 (of 8 available processors)

Solution count 5: 130.998 133.408 135.721 ... 213.233

Optimal solution found (tolerance 1.00e-04)
Best objective 1.309979614703e+02, best bound 1.309979614703e+02, gap 0.0000%

In [17]:
if model.status == GRB.OPTIMAL:
    print("Optimal solution found:")
    print(f"The length of the main line is {model.objVal} units of distance.\n") 

    current_area = 1
    current_city = S[current_area]

    while current_area in A:
        if current_city == E[current_area]:
            current_area += 1
            if current_area in A:
                print(f"Main line in area {current_area-1} ends in city {current_city}, and connects to main line in area {current_area} in city {S[current_area]}\n")
            else:
                print(f"Main line in area {current_area-1} ends in city {current_city}.")
                break
            current_city = S[current_area]
            continue
        for city in C[current_area]:
            if city == current_city:
                continue
            if x[current_area, current_city, city].x > 0.5:
                next_city = city
                break
        print(f"Main line in area {current_area} passes through city {current_city} to city {next_city}")
        current_city = next_city

Optimal solution found:
The length of the main line is 130.9979614703314 units of distance.

Main line in area 1 passes through city Warszawa to city Skierniewice
Main line in area 1 passes through city Skierniewice to city Piotrków
Main line in area 1 passes through city Piotrków to city Radom
Main line in area 1 ends in city Radom, and connects to main line in area 2 in city Kielce

Main line in area 2 passes through city Kielce to city Kraków
Main line in area 2 passes through city Kraków to city Bielsko
Main line in area 2 passes through city Bielsko to city Jastrzębie-Zdrój
Main line in area 2 passes through city Jastrzębie-Zdrój to city Gliwice
Main line in area 2 ends in city Gliwice, and connects to main line in area 3 in city Opole

Main line in area 3 passes through city Opole to city Kalisz
Main line in area 3 passes through city Kalisz to city Leszno
Main line in area 3 passes through city Leszno to city Legnica
Main line in area 3 passes through city Legnica to city Jelenia Góra
Main line in area 3 ends in city Jelenia Góra.

### Write to CSV

In [18]:
cities_mainline_df = cities_df.copy()
cities_mainline_df['in_mainline'] = 0
for a in A:
    for c in C[a]:
        if y[a, c].x > 0.5:
            cities_mainline_df.loc[cities_mainline_df['City'] == c, 'in_mainline'] = 1
cities_mainline_df.to_csv('data/cities_mainline.csv', index=False)